<configuration>
    <system.webServer>
	<security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="104857600"/>
            </requestFiltering>
        </security>
		<httpErrors errorMode="Custom" existingResponse="Replace"> 
			<remove statusCode="404" subStatusCode="13" /> 
			<error statusCode="404" subStatusCode="13" prefixLanguageFilePath="" path="http://172.23.14.210/404/" responseMode="Redirect" /> 
		</httpErrors>
    </system.webServer>
</configuration>