#mess_time_table{
	width:100%;
	padding:5px;
	border:none;
	-webkit-box-shadow:none;
	box-shadow: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
table.table td{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow:1px 1px 2px rgba(200,200,200,0.2);
	box-shadow:1px 1px 2px rgba(200,200,200,0.2);
	padding:3px;
}
table.table td .cell_container{
	min-height: 100px;
}
table.table td.period{
	width:13.8%;
}
table.table td.period:HOVER{
	background:#E2F0D6;
	cursor: pointer;
}
table.table td.period.index:HOVER{
	background:none;
	cursor: default;
}
table.table td.period.today{
	background:#E2F0D6;
}
table.table td.period.today:HOVER{
	background:#E2F0D6;
}
table.table td.period_selected{
	background:#CCD9C1;
	cursor: default;
	color:white;
}
table.table td .entered_item{
	padding:3px 0px 0px 5px;
	margin:0px;
	font:inherit;
	background: none;
	border: none;
}
table.table td .entered_item:hover{
		-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
background:#D6E3CA;
	cursor: pointer;
}
ul#food_list{
	height:200px;
	padding-left:0px;
	border: 1px solid #e5e5e5;
	background: #fbfbfb;
	outline: 0;
	-webkit-box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
	box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
	padding-top:5px;
}
ul#food_list li.food_item{
	border-bottom:1px solid #e5e5e5;
	padding:5px;
	list-style-type:none;
	cursor:pointer;
	margin:0px;
}
ul#food_list li.food_item:HOVER{
	background:#E2F0D6;
}
#food_list_app{
	outline-color: transparent;
}
.ui-dialog-titlebar{
display:none;
}
.ui-datepicker-month{
	padding:0px;
	margin-right: 2px;
}
.ui-datepicker-year{
	padding:0px;
}
#esctox{

	cursor:pointer;
}
#mess_calendar{
	padding:10px;
	float:right;
}
#mess_form{
	margin-top: 10px;
	padding:0px;
}
#mess_submit_div{
	text-align: center;
}
#mess_form_bottom{
	padding:10px;
}
.warning{

}
#mess_calender_container{
	overflow: auto;
}