<configuration>
	<configSections>
		<section name="resizer" type="ImageResizer.ResizerSection,ImageResizer" requirePermission="false" />
	</configSections>
	<resizer>
		<!-- Unless you (a) use Integrated mode, or (b) map all reqeusts to ASP.NET, 
			you'll need to add .ashx to your image URLs: image.jpg.ashx?width=200&height=20 -->
		<pipeline fakeExtensions=".ashx" />
		<plugins>
			<add name="DiskCache" />
			<!-- <add name="PrettyGifs" /> -->
		</plugins>
	</resizer>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules>
			<!--<add name="RewritePathModule" type="IntranetServicesWebsite.RewritePathModule" />-->
			<!-- <add name="AuthenticationModule" type="IntranetServicesWebsite.AuthenticationModule" /> -->
			<add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
		</modules>
	</system.webServer>
	<!--
		For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.
		
		The following attributes can be set on the <httpRuntime> tag.
			<system.Web>
				<httpRuntime targetFramework="4.5" />
			</system.Web>
		-->
	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
	</system.web>
</configuration>
