<configuration>
	<configSections>
		<section name="resizer" type="ImageResizer.ResizerSection,ImageResizer" requirePermission="false" />
	</configSections>
	<resizer>
		<!-- Unless you (a) use Integrated mode, or (b) map all reqeusts to ASP.NET, 
			you'll need to add .ashx to your image URLs: image.jpg.ashx?width=200&height=20 -->
		<pipeline fakeExtensions=".ashx" />
		<plugins>
			<add name="DiskCache" />
		</plugins>
	</resizer>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules>
			<add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
		</modules>
	</system.webServer>
</configuration>
