@CHARSET "ISO-8859-1";
/* 
-----------------------------------------------------------------------------*/
/* Wide Layout
-----------------------------------------------------------------------------*/
/*
-----------------------------------------------------------------------------*/
body.wide{
	margin:0px;
}
#wrapper {
	width: 100%;
}

#header {
	position: fixed;
	top:0;
	left:0;
	right:0;
}
/* Middle
-----------------------------------------------------------------------------*/

body.wide #middle {
    margin-left: 170px;
	margin-right: 200px;
	
}
#middle:after {
	content: '';
	clear: both;
	display: table;
}
#container {
	min-width:900px;
	width: 100%;
	float: left;
	overflow: hidden;
	margin-right: -100%;
	padding:5px;
}
#content {
	padding: 10px 10px;
	min-height:600px;
	position:relative;
}
/* Sidebar Left
-----------------------------------------------------------------------------*/

body.wide #sideLeft {
	width: 170px;
	position: fixed;
	left:0;
	bottom:0;
}
/* Sidebar Right
-----------------------------------------------------------------------------*/

body.wide #sideRight {
	width: 190px;
	position: fixed;
	right:0;
	bottom:0;
	
}

/* 
-----------------------------------------------------------------------------*/
/* Thin Layout
-----------------------------------------------------------------------------*/
body.thin{
	margin:0px;
}
/*
-----------------------------------------------------------------------------*/
/* Middle
-----------------------------------------------------------------------------*/
body.thin #middle {
	margin-top: 5em;
	margin-right: 10px;
}
/* Sidebar Left
-----------------------------------------------------------------------------*/
body.thin .sidebar{
	/*min-width: 900px;*/
}
body.thin #sideLeft {
	position: absolute;
	height:2em;
	min-width:900px;
}
body.thin .groupwrapper{
	width:160px;
	float:left;
}
body.thin .entry{
	display:none;
	background:white;
}
/* Sidebar Right
-----------------------------------------------------------------------------*/
body.thin #sideRight {
	z-index: 2;
position: absolute;
right: 0;
margin-top: 1em;
	height:2em;
}
/* Common Properties
-----------------------------------------------------------------------------*/
/* Header Height
-----------------------------------------------------------------------------*/
body.thin #header{
	/*min-width: 900px;*/
}
#header{
	height: 3em;
}
body.wide #middle {
	margin-top: 2em;
}
.submenu,
body.wide #sideLeft,
body.wide #sideRight,
body.thin #sideLeft,
body.thin #sideRight{
	top:2em;
}
#sideLeft{
	margin-top:1em;
}
